.chips-container {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  margin-left: -10px;
}

.chips {
  background: #37b13b;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;

  span {
    margin-right: 10px;
  }

}