@import '../../colors';

.tag {
  border: 1px $grey-dark solid;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    margin-right: 5px;
  }
}
