@import '../../colors';

.location {
  max-width: 100%;
  border: 1px $grey-lite solid;

  -webkit-box-shadow: 0px 12px 30px -10px rgba(139, 139, 140, 1);
  -moz-box-shadow: 0px 12px 30px -10px rgba(139, 139, 140, 1);
  box-shadow: 0px 12px 30px -10px rgba(139, 139, 140, 1);

  margin-bottom: 20px;
  padding-bottom: 20px;

  .description {
    padding: 20px 30px;
    svg {
      margin-right: 10px;
    }

    .date {
      display: flex;
      align-items: center;
    }
    .provider {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      a {
        font-weight: bold;
        text-decoration: none;
        margin-top: 2px;
      }
    }
  }

  .show-more-container {
    text-align: center;

    button {
      border: none;
    }
  }

  .tag-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
